@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.lightTheme {
    --bg-color: #F0BB78;
    --card-bg-color: #F5ECD5;
    --input-bg-color: #ffe9cc;
    --primary-color: #626F47;
    --text-color: #626F47;
    --accent-color: #F0BB78;
    --completed-text: #889b62;
    --shadow: #00000075;

    background-color: var(--bg-color);
    color: var(--text-color);
}
.darkTheme {
    --bg-color: #222831;
    --card-bg-color: #393E46;
    --input-bg-color: #3e3e3e;
    --primary-color: #DFD0B8;
    --text-color: #DFD0B8;
    --accent-color: #393E46;
    --completed-text: #888;

    background-color: var(--bg-color);
    color: var(--text-color);
}

.night-toggle{
    position: absolute;
    box-shadow: 0 0 15px var(--shadow); /* black with 20% opacity */;
    top: min(5vw,50px);
    right: min(5vw,50px);
    font-size: min(200%,40px);
    width: min(10%,100px);
    aspect-ratio: 1 / 1;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    color: var(--accent-color) ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'PT serif';
    flex-direction: column;
}
.container{
    width: min(700px,60%);
    background-color: var(--card-bg-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    box-shadow: 0 0 36px var(--shadow);
}
.titles{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(1rem, 3vw, 2rem);
}
.fa-calendar{
    font-size: clamp(2.5rem, 7.5vw, 5rem);
}
.custom-date {
  padding: 8px;
  font-size: clamp(0.75rem, 2.25vw, 1.5rem);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  font-family: 'PT serif';
}
#submitButton{
    height: 100%;
    background-color: var(--primary-color);
    border: 0;
    padding: 3% 5%;
    color: var(--card-bg-color);
    border-radius: 50px;
    font-family: "PT serif";
    font-size: clamp(0.75rem, 2.25vw, 1.5rem);;
}
#form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}
.answer{
    width: min(700px,60%);
    background-color: var(--card-bg-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0% 5%;
    margin-top: 20px;
    box-shadow: 0 0 36px var(--shadow);
}
.age_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number{
    font-size: 50px;
}
